.lable {
  display: inline-flex;
  padding: 4px 10px;
  align-items: center;
  gap: 8px;
  height: 28px;
  /* width: 83px; */
  border-radius: 28px;
  font-size: 14px;
  background-color: rgba(254, 226, 226, 1);
  color: rgba(185, 28, 28, 1);
}
